.font-bold { font-weight: normal; }

.color-primary { color: $color-primary; }

.background-color-primary-light {
  background-color: mix($color-primary, white, 10%);
}

.display-none { display: none !important; }

.cursor-pointer { cursor: pointer; }

.float-right { float: right; }

.bump { margin-top: 4em; }

.lines, .line {
  margin-bottom: 0.25em;
  display: block
}

.lines > * {
  display: block;
}

.line {
  display: block;
}

* + .after-empty { display: none }
*:empty + .after-empty { display: block }
