@import 'theme';

input, button, select, textarea, .button {
  display: inline-block;
  padding: 0.4em 0.5em;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0.25em;
  outline: none;
  font: inherit;
  border: 1px solid lightgray;

  &.invalid {
    border: 1px solid var(--color-primary);
  }

  &.ghost {
    border-color: transparent;
    cursor: default;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23DDDDDD%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 0.65em top 50%;
  background-repeat: no-repeat;
  background-size: 0.65em auto;
}

label {
  display: block;
  margin-left: 2px;
  margin-top: 4px;
  color: gray;
  font-size: 14px;
}

button {
  width: auto;
  cursor: pointer;
}

button, .button {
  text-align: center;
  cursor: pointer;
  border: 1px solid gray;

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    border-color: var(--color-primary);
  }

  &.secondary {
    background-color: white;
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &:disabled {
    background-color: #CCC;
    border-color: #CCC;
    cursor: default;
    color: white;
  }

  & + & {
    margin-left: 0.75em;
  }
}

button:disabled {
  background-color: lightgray;
  color: white;
}

form, .form {
  display: block;
}

.form {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;

  h2 {
    margin-bottom: 0.75em;
  }

  .form-group {
    width: 100%;
    margin-bottom: 1em;
    display: block;

    input, textarea, select {
      width: 100%;
    }
  }

  .form-group.split {
    display: flex;
    flex-direction: row;

    & > * {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      margin-left: 0.5em;
      margin-right: 0.5em;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .form-group.split.uneven {
    & > * {
      flex-basis: auto;
    }
  }

  .form-buttons {
    margin-top: 1em;
    display: flex;

    * {
      flex-grow: 0;
    }

    .space {
      flex-grow: 1;
    }

    &.right {
      justify-content: right;
    }
  }

  &:after {
    clear: both;
  }
}

.flex-buttons {
  display: flex !important;
  flex-direction: row;

  & > * {
    flex-grow: 1;
    flex-basis: 0;
  }
}
