@import 'theme';

table.standard {
  width: 100%;
  border-collapse: collapse;
  font-weight: inherit;
  margin-bottom: 1em;

  th {
    text-align: left;
    border-bottom: 1px solid black;
    font-weight: inherit;
  }

  th, td {
    padding: 7px 10px;
    vertical-align: top;
  }

  tr:nth-child(even) {
    background-color: #EEE;
  }

  &.hover {
    tr:hover {
      td {
        background-color: mix($color-primary, white, 10%);
      }
    }
  }

  &.click {
    tr {
      cursor: pointer;
    }
  }
}

table.sections {
  margin-bottom: 1.25em;

  th:nth-child(1), td:nth-child(1) { width: 10%; }
  th:nth-child(2), td:nth-child(2) { width: 35%; }
  th:nth-child(3), td:nth-child(3) { width: 20%; }
}

table.minimal {
  display: inline-table;
  font-weight: inherit;
  border-collapse: collapse;

  th {
    text-align: left;
    border-bottom: 1px solid black;
    font-weight: inherit;
  }

  th, td {
    padding: 4px 10px;
    vertical-align: top;
  }

  &.center {
    th:first-child, td:first-child {
      text-align: right;
    }
    th:last-child, td:last-child {
      text-align: left;
    }
  }

  & + table.minimal {
    margin-left: 3em;
  }
}

div.links {
  padding: 0;
  margin-bottom: 1.5em;
  margin-top: 0.5em;

  a, .link {
    display: block;
    list-style: none;
    padding: 0.5em 0.5em;
    margin-bottom: 0.25em;
    background-color: #EEE;
    border-radius: 2px;

    &:hover {
      background-color: lightgray;
    }

    img {
      width: 15px;
      height: 15px;
      margin-bottom: -2px;
      margin-right: 0.5em;
    }
  }

  a {
    color: black;
  }
}
